<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PWA TP 2</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.13.2/dist/axios.min.js"></script>
</head>
<body>

    <div id="app">

        <div>
            <p>Nombre: {{nombre}}</p>
            <p>Edad: {{edad}}</p>
            <p>Ciudad: {{ciudad}}</p>
            <p>Hola, mi nombre es {{nombre}}, tengo {{edad}} años y vivo en {{ciudad}}.</p>
        </div>

        <hr>

        <div>
            <p>Contador: {{contador}}</p>
            <button @click="contador++">Incrementar</button>
            <button @click="contador--">Decrementar</button>
        </div>

        <hr>

        <div>

            <p>Lista de tareas</p>
            <ul>
                <li v-for="tarea in tareas">
                    {{tarea.texto}} <input type="checkbox" v-model="tarea.completada"> 
                </li>
            </ul>

            <input type="text" v-model="nuevaTarea">
            <button @click="agregarTarea">Añadir Tarea</button>

            <p>Tareas Pendientes: {{tareasPendientes}} </p>
            <p>Total de Tareas: {{totalTareas}} </p>

        </div>

        <hr>

    </div>

    <div id="eventos">
        <p>Lista de eventos</p>
        <ul>
            <li v-for="evento in listaEventos">
                Evento: {{ evento.nombre }} Timestamp: {{ evento.timestamp }}
            </li>
        </ul>
    </div>

    <script>
            var registroEventos = new Vue({
            el: '#eventos',
            data: {
                listaEventos: []
            },
            methods: {
                agregarEvento(nombre) {
                    this.listaEventos.push({
                        id: this.listaEventos.length + 1,
                        nombre: nombre,
                        timestamp: Date.now()
                    })
                }
            }
            });

            function registrarEvento(nombre) {
                registroEventos.agregarEvento(nombre)
            }

            var api = axios.create({
            baseURL: 'https://jsonplaceholder.typicode.com'
            })

            var app = new Vue({
            el: '#app',
            data: {
                nombre: "Ana García",
                edad: 30,
                ciudad: "Tupungato",
                contador: 0,
                nuevaTarea: '',
                tareas: [
                    { id:1, texto: 'Aprender Vue', completada: false }, 
                    { id:2, texto: 'Completar TP 1', completada: true }, 
                    { id:3, texto: 'Completar TP 2', completada: false }, 
                    { id:4, texto: 'Descargar librerias', completada: true },
                ]

            },
            methods: {
                agregarTarea(){
                    this.tareas.push(
                        {id:Date.now(), texto: this.nuevaTarea, completada:false}
                    )
                    this.nuevaTarea=''
                },
                obtenerPost(postId){
                    return api.get(
                        '/posts/' + postId
                    )
                    .then(function(response) {
                        return response.data;
                    })
                    .catch(function(error) {
                        console.log(error);
                    })
            },
                obtenerComments(postId){
                return api.get(
                    '/posts/' + postId + '/comments'
                )
                .then(function(response) {
                    return response.data;
                })
                .catch(function(error) {
                    console.log(error);
                })
            }
            },
            computed: {
                tareasPendientes(){
                    let pendientes = 0
                    for (let tarea of this.tareas){
                        if (tarea.completada == false) {
                            pendientes++
                        }
                    }
                    return pendientes
                },
                totalTareas(){
                    let total = 0
                    for (let tarea of this.tareas){
                        total++
                    }
                    return total
                }
            },
            beforeCreate() {
                registrarEvento('beforeCreate')
            },

            created() {
                registrarEvento('created')
            },

            beforeMount() {
                registrarEvento('beforeMount')
            },

            mounted() {
                registrarEvento('mounted')
            },

            beforeUpdate() {
                registrarEvento('beforeUpdate')
            },

            updated() {
                registrarEvento('updated')
            },

            beforeDestroy() {
                registrarEvento('beforeDestroy')
            },

            destroyed() {
                registrarEvento('destroyed')
            }

            });
    </script>
    
</body>
</html>
